.App {
  text-align: center;
  background: #000;
  /* height: 200rem; */
  height: auto;
  @media (max-width: 768px) {
    width: 23.4375rem;
  }
}
h1,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;

  /* dsa */
  margin: 0;
  padding: 0;
}
a {
  all: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 16);
  @media (max-width: 768px) {
    font-size: calc(100vw / 375 * 16);
  }
}
body {
  background: #fff;
  overflow-x: hidden;

  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  @media (max-width: 768px) {
    font-size: calc(100vw / 375 * 16);
  }
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 1080px; */
}

.main {
  background: #323232;
  width: 120rem;
  /* height: 67.5rem; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    /* height: 20rem; */
    width: 23.4375rem;
    overflow-x: hidden;
  }
}

/*  */

/*  */
.header {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 1rem;
  position: relative;
  @media (max-width: 768px) {
    margin-top: 0rem;
    height: 3.94rem;
    width: 100%;
    justify-content: space-around;
    background: #323232;
    /* gap: 1rem; */
  }
}
.menu_btn {
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 1.9375rem;
    height: 1.3125rem;
    flex-shrink: 0;
  }
}
.menu_list {
  display: none;
  color: #d6eb39;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.43988rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 768px) {
    display: block;
  }
}
.menu_cnt {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 4;
  align-items: center;
  flex-direction: column;
  width: 23.4375rem;
  height: 44.4375rem;
  background: #323232;

  opacity: 0;
  transform: translateY(-1rem);
  visibility: hidden;
  transition: 0.5s;
  position: fixed;
  @media (max-width: 768px) {
    display: flex;
  }
}
.menu_cnt.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.menu_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.63rem;
  padding-top: 3.06rem;
  width: 100%;
  height: 100%;
}
.menu_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.31256rem;
  height: 1.3125rem;
  flex-shrink: 0;
  margin-right: 1rem;
  margin-top: 1rem;
}
.menu_cat {
  position: absolute;
  bottom: 60px;
  width: 16.75rem;
  flex-shrink: 0;
}
.logo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
  @media (max-width: 768px) {
    gap: 0;
  }
}
.logo_img {
  width: 5.1875rem;
  height: auto;
  flex-shrink: 0;
  margin-top: 30px !important;
  @media (max-width: 768px) {
    margin: 0;
    width: 2.3265rem;
    height: auto;
    flex-shrink: 0;
  }
}
.logo_p {
  color: #d6eb39;
  font-family: "ADLaM Display";
  font-size: 2.99481rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -1.5rem;
  @media (max-width: 768px) {
    margin: 0;
    margin-top: 1.5rem;
    width: 4.50763rem;
    height: 1.89031rem;
    flex-shrink: 0;
    color: #d6eb39;
    font-family: "ADLaM Display";
    font-size: 1.29306rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.header_nav {
  display: flex;
  color: #d6eb39;
  font-family: Montserrat;
  font-size: 1.68rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 1.56rem;
  transition: 0.15s color ease-in-out;
  margin-bottom: -2.5rem;

  @media (max-width: 768px) {
    display: none;
  }
  a:hover {
    color: #e1ff00;
  }
}
.header_nav_mobile {
  display: none;
  color: #d6eb39;
  font-family: Montserrat;
  font-size: 1.68rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 1.56rem;
  display: none;
  margin-bottom: -2.5rem;
  /* align-items: center; */
  /* justify-content: center; */

  @media (max-width: 768px) {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 1.45rem;
    gap: 0.4rem;
    margin: 0;
    margin-top: 1.1rem;
    /* gap: 1rem; */
  }
}
.header_nav_1 {
  display: none;
  color: #d6eb39;
  font-family: "ADLaM Display";
  font-size: 0.407rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 7.25rem;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: flex;
    margin: 0;
    gap: 0;
  }
}
.header_btn {
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  border: 1px solid #d6eb39;
  background: #d6eb39;

  color: #323232;
  font-family: RoadRadio;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -4rem;
  &:hover {
    animation: shake 1s;
  }
  @media (max-width: 768px) {
    margin: 0;
    margin-left: 3.25rem;
    margin-top: 0.63rem;
    display: inline-flex;
    padding: 0.15219rem;
    justify-content: center;
    align-items: center;
    gap: 0.15219rem;
    border-radius: 0.22825rem;
    background: #d6eb39;
    color: #323232;
    font-family: RoadRadio;
    font-size: 1.03481rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    display: none;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
    transform: rotate(-15deg);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: rotate(15deg);
  }
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
}
/* MAIN */
.main_cnt {
  display: flex;
  width: 90rem;
  position: relative;
  margin-top: 5.57rem;
  height: 67.5rem;
  /* background: wheat; */
  gap: 9.5rem;
  @media (max-width: 768px) {
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    width: 23.4375rem;
    /* width: 100%; */
    height: 31rem;
    gap: 0;
  }
}
.copytext {
  position: absolute;
  width: 39.75rem;
  height: 5.61575rem;
  flex-shrink: 0;
  border-radius: 0.72rem;
  border: 0.4rem solid #d6eb39;
  background: #323232;
  right: 0;
  margin-top: 34.5rem;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    width: 19.5rem;
    height: 2.20119rem;
    flex-shrink: 0;
    border-radius: 0.28219rem;
    border: 0.2rem solid #d6eb39;
    background: #323232;

    margin-top: 35.8rem;
    scale: 0.8;
    z-index: 2;

    position: absolute;
    display: none;
  }
}
.copytext_2 {
  position: absolute;

  display: none;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 19.5rem;
    height: 2.20119rem;
    flex-shrink: 0;
    border-radius: 0.28219rem;
    border: 0.2rem solid #d6eb39;
    background: #323232;

    margin-top: 35.8rem;
    scale: 0.8;
    z-index: 2;

    position: absolute;
  }
}
.copytext_p {
  color: #d6eb399c;
  font-family: "ADLaM Display";
  font-size: 2.24406rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2rem;
  @media (max-width: 768px) {
    color: #d6eb399c;
    /* margin-top: 1rem; */
    /* dsadas */
    font-family: "ADLaM Display";
    font-size: 0.87956rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
  }
}
.main_mobile_cnt {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.main_mobile_second_links {
  display: flex;
}
.m_l_cnt_links_cnt {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    /* gap: 0.94rem; */
  }
}
.m_l_cnt_links_link {
  width: 5.777rem;
  height: 5.777rem;
  flex-shrink: 0;
  padding-top: 0.88rem;
  @media (max-width: 768px) {
    padding-top: 0.94rem;
    padding-left: 0.94rem;
    width: 3.1875rem;
    height: 3.1875rem;
    flex-shrink: 0;
  }
}
.left_side {
  height: 42.8rem;
  width: 45rem;
  /* background: #000; */
  @media (max-width: 768px) {
    display: none;
    margin: 0;
    /* display: flex; */
    align-items: center;
  }
}
.right_side_img {
  width: auto;
  height: 34.375rem;
  flex-shrink: 0;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  animation: slideInOut 1s ease-out;
  @media (max-width: 768px) {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
  }
}
@keyframes slideInOut {
  0% {
    transform: translateX(50rem);
  }
  100% {
    transform: translateX(0);
  }
}
.right_side_img_2 {
  height: 8.375rem;
  flex-shrink: 0;
  margin-top: 30px;
}
.main_mobile_second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.87rem;
  height: 8.38rem;
  padding-bottom: 0rem;
}
.m_l_p {
  width: 45.5rem;
  color: #d6eb39;
  font-family: Montserrat;
  font-size: 2.48881rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  @media (max-width: 768px) {
    width: 17.625rem;
    height: 4.71656rem;
    flex-shrink: 0;
    color: #d6eb39;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.91725rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: center;
  }
}
.m_l_h1 {
  color: #d6eb39;
  font-family: "ADLaM Display";
  font-size: 8.36813rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 768px) {
    align-self: center;
    width: 11.8125rem;
    height: 4.125rem;
    flex-shrink: 0;
    color: #d6eb39;
    font-family: "ADLaM Display";
    font-size: 2.08406rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.m_l_cnt {
  width: 41.5rem;
  height: 16.375rem;
  flex-shrink: 0;
  border-radius: 1.4375rem;
  border: 13px solid #d6eb39;
  background: #d6eb39;
  display: flex;

  gap: 2.61rem;

  @media (max-width: 768px) {
    width: 8.125rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 0.26675rem;
    border: 2.413px solid #d6eb39;
    background: #d6eb39;
    gap: 0.4rem;
  }
}
.m_l_cnt_links {
  display: flex;
  width: 12.44rem;
  height: 12.98rem;
  margin-left: 1rem;
  margin-top: 1.12rem;
  gap: 0.88rem;
  @media (max-width: 768px) {
    margin: 0;
    margin-left: 0.25rem;
    margin-top: 0.09rem;
    width: 2.44rem;
    height: 2.56rem;
    gap: 0.13rem;
  }
}

.m_l_cnt_right_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @media (max-width: 768px) {
    gap: 0;
    margin: 0;
    margin-top: 1.67rem;
    /* width: 4rem; */
  }
}
.m_l_cnt_right_link_p {
  width: 5.15181rem;

  color: #323232;
  font-family: Montserrat;
  font-size: 1.61731rem;
  margin-left: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 768px) {
    width: 3.65331rem;
    height: 1.59831rem;
    flex-shrink: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.0965rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1rem;
  }
}
.m_l_cnt_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  @media (max-width: 768px) {
    gap: 0.4rem;

    margin: 0;
    margin-top: 0.1rem;
  }
}

.m_l_cnt_right_link {
  width: 16.20581rem;
  height: 2.851rem;
  flex-shrink: 0;
  border-radius: 2.35081rem;
  border: 0.1rem solid #323232;
  background: rgba(217, 217, 217, 0);

  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    width: 11.53806rem;
    height: 2.02981rem;
    flex-shrink: 0;
    border-radius: 1.59381rem;
    border: 0.1rem solid #fff;
    background: rgba(217, 217, 217, 0);
  }
}
.m_l_cnt_r_img {
  width: 2.10075rem;
  height: 2.10075rem;
  flex-shrink: 0;
  margin-left: 1rem;
  @media (max-width: 768px) {
    width: 1.49569rem;
    height: 1.49569rem;
    flex-shrink: 0;
    flex-shrink: 0;
    margin: 0;
    margin-left: 0.6rem;
  }
}
.m_l_cnt_r_img_2 {
  width: 2.52838rem;
  height: 2.52838rem;
  /* scale: 0.2; */
  flex-shrink: 0;
}
.m_l_cnt_r_p {
  color: #323232;
  font-family: Montserrat;
  font-size: 2.27938rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
  @media (max-width: 768px) {
    width: 7.67288rem;
    height: 1.91819rem;
    flex-shrink: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.54538rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
}
/* MOBILE ABOUT */
.about_mobile {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 43.75rem;
    width: 23.4375rem;
    position: relative;
  }
}
.about_mobile_cnt {
  width: 23.4375rem;
  height: 34.125rem;
  flex-shrink: 0;
  background: #d6eb39;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  padding-top: 100px;
}
.about_cnt {
  /* margin-top: 13.9rem; */
  width: 120rem;
  height: 61.9375rem;
  flex-shrink: 0;
  /* display: none; */
  background: #323232;

  display: flex;
  gap: 0.8rem;
  @media (max-width: 768px) {
    display: none;
    height: 12.0625rem;
    width: 23.4375rem;
    gap: 0;
  }
}
.a_left_side {
  width: auto;
  height: 39rem;
  flex-shrink: 0;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;
  @media (max-width: 768px) {
    position: absolute;

    width: auto;
    height: 15.3125rem;
    flex-shrink: 0;
    bottom: 0;
  }
  &:hover {
    transform: scale(1.1);
  }
}
.about_right {
  width: 70.9375rem;
  height: 61.9375rem;
  flex-shrink: 0;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
  background: #d6eb39;
  position: relative;
  margin-left: 8rem;

  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 13.8125rem;
    height: 12.0625rem;
    flex-shrink: 0;

    border-radius: 0.57994rem 0rem 0.57994rem 0.57994rem;
    background: #d6eb39;
  }
}
.about_h1 {
  color: #323232;
  font-family: "ADLaM Display";
  font-size: 8.66794rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 768px) {
    color: #323232;
    font-family: "ADLaM Display";
    font-size: 4.08181rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 12.6875rem;
    height: 5.70938rem;
    flex-shrink: 0;
    text-align: left;
    align-self: self-start;
    margin-left: 2rem;
  }
}
.about_p1_1 {
  width: 28.86625rem;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.64456rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: left;
  margin-left: 5.19rem;
  @media (max-width: 768px) {
    margin: 0;
    width: 19rem;
    color: #323232;
    font-family: Montserrat;
    font-size: 1.0425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.about_p1 {
  width: 28.86625rem;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.64456rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: left;
  margin-left: 5.19rem;
  @media (max-width: 768px) {
    margin: 0;
    width: 19rem;
    color: #323232;
    font-family: Montserrat;
    font-size: 1.0425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.about_p2 {
  width: 28.86625rem;
  color: #323232;
  text-align: right;
  font-family: Montserrat;
  font-size: 1.64431rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: right;
  margin-left: 35.4rem;
  margin-top: 19.76rem;
  position: absolute;
  @media (max-width: 768px) {
    margin: 0;
    position: relative;
    display: none !important;
    text-align: left;
    width: 18.5rem;
    color: #323232;
    font-family: Montserrat;
    font-size: 1.0425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 2rem;
  }
}
.about_p3 {
  width: 28.86625rem;
  color: #323232;
  font-family: Montserrat;
  font-size: 1.64431rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;

  margin-left: 5.19rem;
  margin-top: 40.75rem;
  position: absolute;
  @media (max-width: 768px) {
    margin: 0;
    width: 5.625rem;
    height: 3.625rem;
    flex-shrink: 0;
    color: #323232;
    font-family: Montserrat;
    font-size: 0.30513rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0.87rem;
    margin-top: 7.87rem;
  }
}
.about_tri {
  position: absolute;
  width: 15.5rem;
  height: 19.5rem;
  flex-shrink: 0;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -5rem;

  /* margin-top: 2rem; */
  @media (max-width: 768px) {
    width: 6rem;
    height: 7rem;
    flex-shrink: 0;
    margin: 0;
    bottom: 0;
    margin-bottom: 0;
    /* margin-bottom: -0.89rem; */
  }
}
/* GOALS */
.goals {
  background: #323232;

  height: 62.69rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  @media (max-width: 768px) {
    /* display: none; */
    width: 23.4375rem;
    height: 23.56rem;
  }
}
.goals_cnt {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 11rem;
  padding-bottom: 5.55rem;
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    /* margin-top: 2.25rem; */
    padding-bottom: 2.25rem;
  }
}
.goals_h1 {
  color: #d6eb39;
  font-family: "ADLaM Display";
  font-size: 9.183rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 768px) {
    width: 19.2915rem;
    height: 4.55325rem;
    flex-shrink: 0;
    color: #d6eb39;
    font-family: "ADLaM Display";
    font-size: 3.26725rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.goal_title {
  padding-top: 2rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-left: -2.3rem;
  padding-bottom: 1rem;
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    margin-left: 0.9rem;
    padding-top: 0.4rem;
    gap: 0.2rem;
    padding-bottom: 1.1rem;
  }
}
.goal_img {
  width: 1.84106rem;
  height: 1.84106rem;
  flex-shrink: 0;
  margin-top: 0.5rem;
  @media (max-width: 768px) {
    width: 0.68994rem;
    height: 0.68994rem;
    /* transform: rotate(-45deg); */
    flex-shrink: 0;
    margin-top: 0.25rem;
  }
}
.goal_p {
  color: #d6eb39;
  font-family: Montserrat;
  font-size: 2.32269rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 75.14906rem;
  text-align: left;
  @media (max-width: 768px) {
    width: 15.09769rem;
    color: #d6eb39;
    font-family: Montserrat;
    font-size: 0.82638rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
/* TREEE */
.tree {
  width: 120rem;
  height: 174.4375rem;
  flex-shrink: 0;
  background: #323232;
  padding-top: 11.69rem;

  position: relative;
  @media (max-width: 768px) {
    /* padding-top: 2.3rem; */
    padding: 0;
    /* display: none; */
    width: 23.4375rem;
    height: 70.37rem;
    flex-shrink: 0;
  }
}
.tree_cnt {
  height: 144.19rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  @media (max-width: 768px) {
    height: 28.07rem;
  }
}
.tree_img {
  width: 87.46575rem;
  height: 92.25rem;
  flex-shrink: 0;
  flex-shrink: 0;
  transform: rotate(0deg);

  &:hover {
    animation: sh 1s;
  }
  @media (max-width: 768px) {
    width: 20.09331rem;
    height: 21.04669rem;
    flex-shrink: 0;
  }
}
@keyframes sh {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.tree_absolute_text {
  position: absolute;
  display: flex;
  color: #d6eb39;
  font-family: RoadRadio;
  font-size: 6.67625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  gap: 23rem;
  top: 0;
  margin-top: 83.56rem;
  margin-right: 15.5rem;
  @media (max-width: 768px) {
    gap: 4.44rem;
    color: #d6eb39;
    -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: #323232;
    font-family: RoadRadio;
    font-size: 2.05444rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 17.22rem;
    margin-left: 15rem;
    line-height: 1.5rem;
    /* height: 2rem; */
    text-align: left;
    white-space: nowrap;
  }
}
.tree_absolute_p1_mob {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.tree_absolute_p1 {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
.tree_absolute_p2 {
  @media (max-width: 768px) {
    margin-top: 0.8rem;
  }
}
.tree_cards {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-self: center;
  position: absolute;
  margin-top: 90.96rem;

  gap: 2.94rem;
  @media (max-width: 768px) {
    /* display: none; */
    margin-top: 20.69rem;
    gap: 0.44rem;
  }
}
.tree_card_1 {
  width: 77.875rem;
  height: 14.78619rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #d6eb39;

  display: flex;
  align-items: center;

  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 768px) {
    width: 18.3125rem !important;
    height: 11.2885rem !important;
    flex-shrink: 0;
    border-radius: 0rem 0.528rem;
    border: 0.15rem solid #323232;
    background: #d6eb39;
    flex-direction: column;
    position: relative;
  }
}

.tree_card_2 {
  width: 77.875rem;
  height: 17.25rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #d6eb39;

  display: flex;

  align-items: center;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 18.3125rem;
    height: 11.2885rem;
    flex-shrink: 0;
    border-radius: 0rem 0.528rem;
    border: 0.15rem solid #323232;
    background: #d6eb39;
    flex-direction: column;
    position: relative;
  }
}
.tree_card_3 {
  width: 77.875rem;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #d6eb39;

  display: flex;
  gap: 2rem;
  align-items: center;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    gap: 0;
    width: 18.3125rem;
    height: 11.2885rem;
    flex-shrink: 0;
    border-radius: 0rem 0.528rem;
    border: 0.15rem solid #323232;
    background: #d6eb39;
    flex-direction: column;
    position: relative;
  }
}

.tree_card_img_1 {
  width: 13.125rem;
  height: 13.125rem;
  flex-shrink: 0;
  margin-left: 3.94rem;
  /* margin-top: 0.35rem; */
  @media (max-width: 768px) {
    /* margin-left: 0.78rem; */
    width: 4.01369rem !important;
    height: 4.01369rem !important;
    margin: 0;

    flex-shrink: 0;
  }
}
.tree_card_img_2 {
  width: 13.125rem;
  height: 13.125rem;
  flex-shrink: 0;
  /* margin-top: 1rem; */
  @media (max-width: 768px) {
    /* margin-left: 0.47rem; */
    margin: 0;
    width: 4.3125rem !important;
    height: 4.14338rem !important;
    flex-shrink: 0;
  }
}
.tree_card_img_3 {
  width: 16.0625rem;
  height: 15.4375rem;
  flex-shrink: 0;
  margin-left: 2.5rem;
  /* margin-top: 0.3rem; */
  @media (max-width: 768px) {
    /* margin-left: 0.47rem; */
    margin: 0;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
  }
}
.tree_card_title {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.2rem;

  @media (max-width: 768px) {
    margin: 0;
    text-align: center;
    /* gap: 0.1rem; */
    width: 18.3125rem;
    align-items: center;
    position: absolute;
    margin-top: 3.2rem;
  }
}
.cat_card {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin-top: 1.3rem;
    width: 18.18756rem;
    height: auto;
    flex-shrink: 0;
  }
}
.tree_card_h1 {
  color: #323232;
  font-family: "ADLaM Display";
  font-size: 4.13919rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 38.1875rem;
  height: 4.45613rem;
  flex-shrink: 0;
  @media (max-width: 768px) {
    color: #323232;
    font-family: "ADLaM Display";
    font-size: 2.14481rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 2.5rem;
    width: 14.25rem;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
}
.tree_card_p {
  width: 54rem;
  height: 10.20638rem;
  flex-shrink: 0;

  color: #323232;
  font-family: Montserrat;
  font-size: 2.02094rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.7rem;
  @media (max-width: 768px) {
    margin: 0;
    /* width: 14.71688rem; */
    color: #323232;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.725rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 15.135rem;
  }
}
.tree_tri {
  position: absolute;
  width: 17.5rem;
  height: 14.8125rem;
  bottom: 0;
  left: 0;
  margin-bottom: -4rem;
  @media (max-width: 768px) {
    /* display: none; */
    width: 3.3125rem;
    height: 3.25rem;
    flex-shrink: 0;
  }
}
/* TOKEN */

.token {
  width: 100%;
  height: 175.25rem;
  flex-shrink: 0;
  background: #d6eb39;
  position: relative;
  @media (max-width: 768px) {
    /* display: none; */
    width: 23.4375rem;
    height: 42.1875rem;
    flex-shrink: 0;
  }
}
.token_h1 {
  color: #323232;
  font-family: "ADLaM Display";
  font-size: 7.54638rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10rem;
  @media (max-width: 768px) {
    height: 2rem;
    margin: 0.6rem;
    color: #323232;
    font-family: "ADLaM Display";
    font-size: 2.16825rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.token_p_1 {
  color: #323232;
  font-family: Montserrat;
  font-size: 9.50063rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media (max-width: 768px) {
    /* height: 1rem; */
    color: #323232;

    color: #323232;
    font-family: Montserrat;
    font-size: 2.72975rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* padding-bottom: 2rem; */
  }
}
.token_p_2 {
  width: 27rem;
  color: #323232;
  font-family: Montserrat;
  font-size: 3.64675rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  right: 0;
  margin-right: 24.12rem;
  margin-top: -2.5rem;
  @media (max-width: 768px) {
    margin: 0;
    width: 5rem;

    margin-top: -0.36rem;
    /* margin-right: -6.7rem; */
    /* margin-left: -5rem; */
    margin-right: 3rem;
    /* display: none; */

    color: #323232;
    font-family: Montserrat;
    font-size: 1.04781rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    white-space: nowrap;
  }
}
.token_card_1 {
  margin-top: 2.87rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  @media (max-width: 768px) {
    margin-top: 0;
    margin-top: 2rem;
    width: 90%;
    margin-left: 1rem;
    /* padding-top: 2rem; */
    /* justify-content: center; */
    /* width: 20rem; */
  }
}
.token_card_2 {
  margin-top: 2.87rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  @media (max-width: 768px) {
    margin-top: 1.5rem;
    width: 90%;
    gap: 0.7rem;
  }
}
.token_card_3 {
  margin-top: 7rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  @media (max-width: 768px) {
    margin-top: 2.3rem;
    gap: 0.75rem;
  }
}
.token_card_4 {
  margin-top: 3.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  @media (max-width: 768px) {
    margin-top: 2.4rem;
    gap: 0.75rem;
  }
}
.token_title {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  /* margin-right: 2rem; */
  position: relative;
  @media (max-width: 768px) {
    gap: 0.1rem;
  }
}
.token_title_2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  /* margin-right: 2rem; */
  position: relative;
  margin-top: 2rem;
  @media (max-width: 768px) {
    margin-top: 0;
    gap: 0.2rem;
  }
}
.token_title_4 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  margin-right: 2rem;
  position: relative;
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin: 0;
    gap: 0.2rem;
  }
}
.token_title_p_1 {
  color: #323232;
  font-family: "ADLaM Display";
  font-size: 3.69144rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  @media (max-width: 768px) {
    color: #323232;
    font-family: "ADLaM Display";
    font-size: 1.11269rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* margin-right: 2rem; */
}
.token_title_p_2 {
  color: #323232;
  font-family: Montserrat;
  font-size: 2.12331rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 54.3125rem;
  margin-left: 2.56rem;
  @media (max-width: 768px) {
    margin-left: 0.5rem;
    color: #323232;
    font-family: Montserrat;
    font-size: 0.58206rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 14.5475rem;
    flex-shrink: 0;
  }
}
.token_img_1 {
  width: 26.4375rem;
  height: 26.4375rem;
  flex-shrink: 0;

  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  margin-left: 9.81rem;
  @media (max-width: 768px) {
    margin: 0;
    width: 5.1875rem;
    height: 5.125rem;
    flex-shrink: 0;
  }
}
.token_tri {
  position: absolute;
  right: 0;
  bottom: -78px;
  /* width: 20rem; */
  @media (max-width: 768px) {
    margin-top: 1.5rem;
    width: 3.8125rem;
    height: 3.75rem;
    flex-shrink: 0;
  }
}
/* ROADMAP */
.roadmap {
  width: 120rem;
  height: 127.875rem;
  flex-shrink: 0;
  background: #323232;
  /* margin-top: 20rem; */

  color: #d6eb39;
  @media (max-width: 768px) {
    /* display: none; */
    width: 23.4375rem;
    height: 35.875rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
}
.road_h1 {
  font-family: "ADLaM Display";
  font-size: 12.02488rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.75rem;
  padding-bottom: 3.56rem;
  @media (max-width: 768px) {
    margin-top: 0.31rem;
    padding-bottom: 0.69rem;
    color: #d6eb39;
    font-family: "ADLaM Display";
    font-size: 2.23156rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.road_img {
  width: 11.6875rem;
  height: 11.6875rem;
  flex-shrink: 0;
  transform: scale(1);
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    width: 2.3125rem;
    height: 2.25rem;
    flex-shrink: 0;
    display: none;
  }
}
.road_img_mob {
  display: none;
  @media (max-width: 768px) {
    align-self: center;
    width: 4.0625rem;
    height: 4.0625rem;
    flex-shrink: 0;
    flex-shrink: 0;
    display: block;
  }
}
.road_img_mob_1 {
  display: none;
  @media (max-width: 768px) {
    align-self: center;
    width: 4.0625rem;
    height: 4.0625rem;
    flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    padding-bottom: 1.31rem;
  }
}
.road_title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  @media (max-width: 768px) {
    gap: 0.25rem;
    /* padding: 0; */
    margin-right: 0rem;
  }
}
.road_title_p_1 {
  font-family: "ADLaM Display";
  font-size: 3.69144rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  @media (max-width: 768px) {
    margin-top: 0.25rem;
    font-family: "ADLaM Display";
    font-size: 1.15113rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.road_title_p_2 {
  width: 75.5rem;
  font-family: Montserrat;
  font-size: 2.12331rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2.56rem;
  @media (max-width: 768px) {
    /* width: 14.75rem; */
    width: 20.01475rem;
    height: 2.625rem;
    flex-shrink: 0;
    /* color: #D6EB39; */
    margin-left: 0.5rem;
    /* color: #323232; */
    font-family: Montserrat;
    font-size: 0.48031rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.road_card {
  display: flex;
  /* justify-content: center; */
  margin-left: 9.37rem;
  gap: 1.63rem;
  text-align: left;
  margin-bottom: 8.12rem;
  @media (max-width: 768px) {
    gap: 0.31rem;
    /* display: none; */
    margin-left: 1.81rem;
    margin-bottom: 2rem;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.road_cnt_2 {
  color: #323232;
  background: #d6eb39;
  width: 120rem;
  height: 30.13rem;
  flex-shrink: 0;
  padding-top: 9.37rem;
  @media (max-width: 768px) {
    width: 100% !important;
    padding-top: 0 !important;
    height: auto !important;

    flex-shrink: 0;
    padding-bottom: 1.2rem;
    height: 9.1875rem;
    gap: 0;

    display: flex;
    flex-direction: column;
  }
}
.road_cnt_3 {
  width: 120rem;
  height: 30.13rem;
  flex-shrink: 0;
  padding-top: 9.37rem;
  @media (max-width: 768px) {
    padding-top: 0.44rem;
    width: 23.4375rem;
    /* height: 5.59rem; */
    height: 12.5rem;
    flex-shrink: 0;
    /* padding-bottom: 1.56rem; */

    background: #323232;
    display: flex;
    flex-direction: column;
  }
}
/* FOOTER */
.footer {
  width: 120rem;
  height: 29.875rem;
  flex-shrink: 0;
  @media (max-width: 768px) {
    /* display: none; */
    /* padding-top: 15rem; */
    width: 23.4375rem;
    height: 12.375rem;
    flex-shrink: 0;
    flex-shrink: 0;
  }
}
.footer_cnt {
  display: flex;
  flex-direction: column;
  gap: 2.49rem;
  margin-top: 3rem;
  @media (max-width: 768px) {
    gap: 1.4rem;

    /* margin-top: 1.56rem; */
  }
}
.footer_logo {
  display: flex;
  justify-content: center;
}
.footer_logo_1 {
  width: 5.99819rem;
  height: 5.99819rem;
  flex-shrink: 0;
  @media (max-width: 768px) {
    width: 2.45925rem;
    height: 2.45925rem;
    flex-shrink: 0;
    flex-shrink: 0;
  }
}
.footer_logo_2 {
  width: auto;
  height: 4.98725rem;
  flex-shrink: 0;
  margin-left: 3.57rem;
  @media (max-width: 768px) {
    width: auto;
    height: 2.07094rem;
    flex-shrink: 0;
    margin-left: 0.69rem;
  }
}
.footer_logo_p {
  align-self: flex-end;
  color: #d6eb39;
  font-family: "ADLaM Display";
  font-size: 3.22938rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
  @media (max-width: 768px) {
    color: #d6eb39;
    font-family: "ADLaM Display";
    font-size: 1.24119rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding: 0;
    margin-bottom: 0.1rem;
  }
}
.header_title {
  width: 50.00719rem;
  color: #d6eb39;
  font-family: Montserrat;
  font-size: 1.34531rem;
  font-style: normal;
  font-weight: 700;
  line-height: 214.3%; /* 2.883rem */
  text-align: center;
  align-self: center;
  margin-top: 2.56rem;
  @media (max-width: 768px) {
    margin: 0;
    margin-top: 0;
    width: 20.0625rem;
    color: #d6eb39;
    font-family: Montserrat;
    font-size: 0.51706rem;
    font-style: normal;
    font-weight: 700;
    line-height: 214.3%; /* 1.108rem */
  }
}
